.contentPanel {
  display: flex;
}

.contentPanel__leftSide {
  width: 20%;
  background-color: #a8ddff;
  background-repeat: repeat-y;
}

.contentPanel_rightSide {
  width: 80%;
  background-color: #edf8ff;
}
