.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a8ddff;
  border-bottom: 1px solid var(--second);
}

.header__links {
  align-self: flex-end;
}

.header__links a {
  text-decoration: underline;
}

.header__logo {
  max-width: 100%;
}
